 /*HEADER */

.header {
	background-image: url('../img/burger01.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 970px;
}
.sloganhead {
	font-size: 900%;
	line-height: 95px;
	color: white;
	padding-top: 300px;
	float: right;
}

.weTake {
	font-family: 'weTake';
	line-height: 110px;
	font-size: 90%;
}
.seriously {
	font-size: 83%;
}
.sloganBurger {
	font-family: 'burgerSlogan';
	line-height: 100px;
}
.banner {
	background-image: url('../img/assets/PNGs/banner.png');
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	padding: 70px 0 100px 0;
	background-size: 60%;
	font-size: 1.5em;
	float: right;
	margin-right: 7.5%;
	margin-top: -2%;
	color: #EEE;
}


@media (max-width: 992px) { 
	.sloganhead {
		padding-top: -50px ;
	}

}

@media (max-width: 768px) { 
	.sloganhead {
		padding-left: 15%;
	}

}
/*@media (max-width: 800px) {  TRIED TO SORT OUT XS AND SM DEVICES, WILL LOOK AT LATER.  FEEL FREE TO HAVE A LOOK AT IT FOR YOURSELF 
	.sloganhead {
		font-size: 550%;
		line-height: 70px;
		padding-top: 50%; 
	}
	.header {
		height: 100%;

	}
}*/

/* END HEADER */

/* MENU */

.menu {
	background-color: #337ab7;
}
.sectionhead {
	text-align: center;
	font-size: 600%;
	font-family: burgerSlogan;
	padding-top: 2vh;
}

.sectionsubhead {
	font-size: 350%;
	text-align: center;
	font-family: avenBlack;
}

.sectioncontent {
	padding: 50px 0 50px;
	text-align: center;
	font-size: 150%;
	font-family: avenBlack;
}


.sectionbutton {
	background-image: url('../img/assets/PNGs/button.png');
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	padding: 60px 0 60px 0;
	background-size: 90%;
	font-size: 300%;
	color: #EEE;
}




@media (max-width: 782px) {
	.sectionhead {
		font-size: 300%;
	}
	.sectionsubhead {
		font-size: 150%;
	}
	.banner {
		font-size: 100%;
	}
	.sectioncontent {
		font-size: 125%;
	}
	.sectionbutton {
		font-size: 90%;
	}
}
@media (max-width: 992px) {
	.sectionhead {
		font-size: 300%;
	}
	.sectionsubhead {
		font-size: 150%;
	}
	.banner {
		font-size: 100%;
	}
	.sectioncontent {
		font-size: 125%;
	}
	.sectionbutton {
		font-size: 200%;
	}
}
@media (max-width: 700px) {
	.header {
		background-size: cover;
		min-height: 600px;
	}
	.sloganhead {
		font-size: 600%;
		margin-top: -70%;
		left: -50%;
	}
	.banner {
		font-size: 100%;
	}
	.sectionhead {
		font-size: 300%;
	}
	.sectionsubhead {
		font-size: 150%;
	}
	.sectioncontent {
		font-size: 125%;
	}
	.sectionbutton {
		font-size: 100%;
		margin-top: -50px;
		background-size: 120%;
	}
}


/* END MENU */



/* MAKE YOUR OWN */

.makeyourown {
	background-color: #D41F3E;
}

/* END MYO */

/* EVENTS */

.events {
	background-color: #DE9129;
}

/* END EVENTS */

/* CONTACT */

.contact {
	background-color: #3B3B3B;
	color: white;
}

/* END CONTACT */

/* FONTS */


@font-face {
    font-family: weTake;
    src: url('../fonts/Everglow.otf');
}
@font-face {
    font-family: burgerSlogan;
    src: url('../fonts/distress.otf');
}
@font-face {
    font-family: avenBlack;
    src: url('../fonts/avenir/AvenirLTStd-Black.otf');
}
@font-face {
    font-family: avenBlackOblique;
    src: url('../fonts/avenir/AvenirLTStd-BlackOblique.otf');
}

/* END FONTS