/* NAVIGATION */



.navigation ul li {
	display: inline-block;
	padding-right: 4%;
	padding: 7.5px 2% 0;
	margin-left: 10%;
}


.opening-times {
	font-size: 125%;
	background-color: rgb(31, 39, 45);
	color: rgb(109, 120, 125);
	padding: 5px 0 5px;
	text-align: center;
}

.spacer {
	padding: 0 40px 0 40px;
}

/* END NAVIGATION */




/*HEADER */



.header {
	background-image: url('../img/burger01.jpg');
	background-size: cover;
	background-position: center;
    background-attachment: local;
	background-repeat: no-repeat;
	min-height: 970px;
    z-index: 10;
}
.sloganhead {
	font-size: 900%;
	line-height: 95px;
	color: white;
	padding-top: 300px;
	float: right;
}

.weTake {
	font-family: 'weTake';
	line-height: 110px;
	font-size: 90%;
}
.seriously {
	font-size: 83%;
}
.sloganBurger {
	font-family: 'burgerSlogan';
	line-height: 100px;
}
.banner {
	float: right;

}




/* END HEADER */

/* MENU */

.sectionhead {
	text-align: center;
	font-size: 500%;
	font-family: burgerSlogan;
	padding-top: 3vh;
	z-index: 5;
}

.sectionsubhead {
	font-size: 300%;
	text-align: center;
	font-family: sectionSubHead;
}

.sectioncontent {

	padding: 50px 0 50px;
	text-align: center;
	font-size: 150%;
	font-family: sectionContent;
}


.sectionbutton {
	background-image: url('../img/assets/PNGs/button.png');
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	padding: 60px 0 60px 0;
	background-size: 90%;
	font-size: 300%;
	color: #EEE;
    font-family: sectionButton;
}






/* MENU */


.menu {
	background: linear-gradient(to bottom, rgba(51, 122,183,0.75), rgba(51, 122, 183, 0.75)), url('../img/rough-beige-paper-texture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
	padding: 20px 0 20px;
	position: relative;
    z-index: 9;
}

.menu .sectionsubhead {
	color: rgb(218, 191, 69);
	font-family: avenBlack;
}
.menu .sectionbutton {
	color: rgb(218, 191, 69);
	font-family: 'burgerSlogan';
}


#basilpic {
	position: absolute;
	padding-top: 25%;
}

#eggpic {
	position: absolute;
	top: -10px;
	right: 0px;
	float: right;

}

#tomatopic {
	position: absolute;
	right: 0px;
	top: -100px;
	overflow: hidden;
	height: 50%;

}
#tomatopicTwo {
	position: absolute;
	bottom: 0;
	left: 5%;
	overflow: hidden;
	height: 30%;

}

#limespic {
	position: absolute;
	bottom: 0;
}

#wasabipic {
	position: absolute;
	top: 45%;
	right: 20%;
}

#basilEvents {
	position: absolute;
	bottom: 0;
	left: 0;
}

#mustardEvents {
	position: absolute;
	right: 5%;
	bottom: 5%;

}
/* MAKE YOUR OWN */

.makeyourown {
	background: linear-gradient(to bottom, rgba(212, 31, 62, 0.75), rgba(212, 31, 62, 0.75)), url('../img/rough-beige-paper-texture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
	padding: 20px 0 20px;
	position: relative;
}

.makeyourown .sectionbutton {
	left: 25%;
}
.makeyourown .sectionsubhead {
	color: rgb(33, 192, 255);
	font-family: avenBlack;
}
.makeyourown .sectionbutton {
	color: rgb(33, 192, 255);
	font-family: 'burgerSlogan';
}


.myoimages img {
	padding: 10px 45px 10px 45px;
}

/* END MYO */

/* EVENTS */

.events {
    background: linear-gradient(to bottom, rgba(222, 145, 41, 0.75), rgba(222, 145, 41, 0.75)), url('../img/rough-beige-paper-texture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	padding: 20px 0 20px;
}
.events .sectionbutton {
	left: 25%;
}
.events .sectionhead {
	color: rgb(236, 0, 72);
	font-family: 'burgerSlogan';
}
.events .sectionbutton {
	color: rgb(236, 0, 72);
	font-family: 'burgerSlogan';
}



/* END EVENTS */

/* CONTACT */

.contact {
    background: linear-gradient(to bottom, rgba(59, 59, 59, 0.75), rgba(59, 59, 59, 0.75)), url('../img/rough-beige-paper-texture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
	background-color: rgba(59, 59, 59, 0.75);
	position: relative;
	padding: 20px 0;
	color: white;
}
.contact .sectionbutton {
	left: 25%;
}

.contact .sectionhead {
	color: rgb(136, 193, 54);
	font-family: 'burgerSlogan';
}
.contact .sectionbutton {
	color: rgb(136, 193, 54);
	font-family: 'burgerSlogan';
}

/* END CONTACT */


/* MENU PAGE */

.menu-body {
	background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.9)), url('../img/rough-beige-paper-texture.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.menu-padding {
	padding-bottom: 100px;
}

.menu-header {
	background-image: url('../img/ingredients01.jpg');
    background-size: cover;
    height: 650px;
    background-repeat: no-repeat;
}
.menu-head {
	color: #FFF;
	text-align: center;
	font-family: 'burgerSlogan';
	font-size: 700%;
	padding: 40px 0 20px;
}


.burgers {
	color: #EEE;
	font-size: 150%;
}
.burgers li {
	list-style: none;
}

.burgers h1 {
	font-family: 'burgerSlogan';
	font-size: 300%;
	margin-left: 7.5%;
}

#currency {
	float: right;
}

/* ORDER */

.order {
	background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.9)), url('../img/rough-beige-paper-texture.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.jouwSmaak {
	color: #FDA940;
	font-size: 400%;
	padding: 40px 0;
	font-family: 'burgerSlogan';
}

.orderSub {
	color: #EEE;
	font-size: 400%;
	font-family: 'burgerSlogan';
	padding: 0 0 30px;
}

.orderFood {
	height: 100px;
	display: inline;
}

.order li {
	list-style: circle;
	color: #EEE;
	font-size: 150%;
}
.foodOrder li {
  list-style: circle;
}
.selected {
  list-style: disc !important;
}
.order .sectionbutton {
	left: 25%;
	background-size: 60%;
	color: #89BF41;
	font-size: 450%;
}

/* BUNS */

.buns {
	padding: 20px 0 50px;
}

.bunRadio {
	cursor: pointer;
}

.buns img {
	max-height: 17.5%;
}

/* END BUNS */

/* MEAT */
.meat {
	padding: 20px 0 50px;
}

.meat img {
	max-height: 17.5%;
}

/* END MEAT*/

/* CHEESE */

.cheese {
	padding: 20px 0 50px;
}

.cheese img {
	max-height: 17.5%;
}

/* END CHEESE */

/* EXTRAS */

.extras {
	padding: 20px 0 100px;
}

.extras img {
	max-height: 17.5%;
}

/* END EXTRAS */

/* END ORDER */

/* MEDIA */
@media (max-width: 782px) {

	.sectionhead {
		font-size: 300%;
	}
	.sectionsubhead {
		font-size: 150%;
	}
	.sectioncontent {
		font-size: 125%;
	}
	.sectionbutton {
		font-size: 90%;
	}
}
@media (max-width: 992px) {
	.sloganhead {
		text-align: center;
	}
	.banner {
		text-align: center;
	}
	.sectionhead {
		font-size: 300%;
	}
	.sectionsubhead {
		font-size: 150%;
	}
	.sectioncontent {
		font-size: 125%;
	}
	.sectionbutton {
		font-size: 200%;
	}
}
@media (max-width: 700px) {
	.sloganhead {
		padding: 50px 0 50px;
	}
    p {
        margin-left: 10px;
        margin-right:10px;
    }
	.header {
		background-size: cover;
		min-height: 600px;
	}
	.sectionhead {
		font-size: 300%;
	}
	.sectionsubhead {
		font-size: 150%;
	}
	.sectioncontent {
		font-size: 125%;
	}
	.sectionbutton {
		font-size: 100%;
		margin-top: -50px;
		background-size: 120%;
	}

    #limespic {
        height: 30%;
        top: 10%;

    }
    #wasabipic {
        top: 50%;
        right: 5%;
        height: 30%;

    }

    #mustardEvents {
        height: 20%;
    }
    #basilEvents {
        position: absolute;
        top: 0px;
    }

    #basilpic {
        height: 40%;
        bottom: 0;
    }

    #tomatopic {
        height: 15%;
        top: 0px;
    }

    #tomatopicTwo {
        height: 20%;
    }

    .myoimages {
        text-align: center
    }
    .myoimages img {
        height: 100px;
    }
}


/* END MEDIA */

/* FONTS */


@font-face {
    font-family: weTake;
    src: url('../fonts/Everglow.otf');
}
@font-face {
    font-family: burgerSlogan;
    src: url('../fonts/distress.otf');
}
@font-face {
    font-family: avenBlack;
    src: url('../fonts/avenir/AvenirLTStd-Black.otf');
}
@font-face {
    font-family: avenBlackOblique;
    src: url('../fonts/avenir/AvenirLTStd-BlackOblique.otf');
}
@font-face {
    font-family: sectionContent;
    src: url('../fonts/avenir/AvenirLTStd-Medium.otf');
}
@font-face {
    font-family: sectionButton;
    src: url('../fonts/distress.otf');
}


/* END FONTS
